HTML {
    font-family: Arial;
    color: #080708;
    background-color: #F7FFF7;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #080708;
    border-radius: 24px;
    background: #08B2E3;
    box-shadow: 4px 4px 13px #03475b,
        -4px -4px 13px rgb(13, 172, 216);
    padding: 10px;
    margin: 100px;

}
#mainDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
}


h1 {
    justify-content: center;
    background-color: #08B2E3;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}